@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    background-color: black;
    padding-top: 42px;
    display: flex;
    justify-content: center;
    padding: 40px 0px 100px;
    align-items: center;
}
.header a,.header p{
    color: white;
    font-weight: 700;
    font-size: 26px;
}
.logo{
    margin-right: 150px;
    margin-left: 150px;
}
.menu a{
    margin-right: 27px;
}
.personal{
    display: flex;
    align-items: center;
}
.img_personal{
    margin-right: 67px; 
    margin-left: 67px;
}
.search input{
    width: 250px;
    height:50px;
    background-color: black;
    border-bottom: 2px white solid;
    border-right: 0px;
    border-left: 0;
    border-top: 0;
}
input::placeholder{
    color: white;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 20px 24px;
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.sale_page{
    background-color: black;
    height: 965px;
}
.content{
    margin-top: 76px;
}
.content_line{
    display: flex;
    justify-content:space-around;
    width: 70%;
    margin: 0 auto 3%;
}
.product{
    width: 20%;
    height: 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.line{
    background-color: black;
    width: 70%;
    height: 3px;
}
.collection{
    margin-bottom: 3%;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.name_collection{
    font-size: 32px;
    font-family: 'Amita', sans-serif;
    margin-right:57%;
}
.product_img{
    height: 300px;
    width: 287px;
}
.name_product{
    font-weight: 700;
    margin-top: 5%;
}
.price_product{
    margin-top: 2%;
}
.content_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 70%;
}
.logo_footer{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 380px;
    margin-left:380px;
}
.logo_text{
    font-size: 42px;
    font-family: 'Amita';
}
.footer{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 210px;
    padding-right: 20px;
}
.number_text{
    font-size: 26px;
    font-weight: 800;
}
.burger{
    display: flex;
    flex-direction: column;
    margin-right: 18%;
    display: none;
}
.line_burger{
    height: 3px;
    width: 30px;
    background-color: white;
    margin-bottom: 5px;
}
@media screen and (max-width:1700px){
    .logo_footer{
        margin-right: 25%;
        margin-left: 20%;
    }
}
@media screen and (max-width:1500px){
    .product_img{
        height: 250px;
        width: 257px;
    }
    .logo{
        margin-right: 5%;
        margin-left: 5%;
    }
    .name_collection{
        margin-right: 55%;
    }
}
@media screen and (max-width:1400px){
    .product_img{
        height: 220px;
        width: 237px;
    }
    .logo{
        margin-right: 2%;
        margin-left: 2%;
    }
    .number_text{
        font-size: 20px;
    }
    .logo_footer img{
        width: 80px;
    }
    .logo_text{
        font-size: 30px;
    }
    .name_collection{
        margin-right: 52%;
    }
    .header a{
        font-size: 22px;
    }
    .logo{
        margin-right: 5%;
        margin-left: 5%;
    }
    .logo img{
        width: 80px;
    }
    input::placeholder{
        font-size: 22px;
    }
    .img_personal{
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media screen and (max-width:1300px){
    .links img{
        width: 30px;
    }
    .name_collection{
        margin-right: 50%;
    }
    .product_img{
        height: 200px;
        width: 207px;
    }
}
@media screen and (max-width:1100px){
    .slideshow-container{
        width: 80%;
    }
    .sale_page{
        height: 800px;
    }
    .number_text{
        font-size: 16px;
    }
    .logo_footer img{
        width: 60px;
    }
    .logo_text{
        font-size: 26px;
    }
    .logo img{
        width: 60px;
    }
    .header a{
        font-size: 20px;
    }
    input::placeholder{
        font-size: 20px;
    }
    .personal img{
        width: 30px;
    }
    .product_img{
        height: 180px;
        width: 187px;
    }
    .name_collection{
        margin-right: 47%;
    }
    .search input{
        width: 220px;
    }
    .logo_footer{
        margin-right: 10%;
        margin-left: 10%;
    }
}
@media screen and (max-width:1000px){
    .search input{
        width: 200px;
    }
    .menu a{
        margin-right: 10px;
    }
    .name_collection{
        margin-right: 43%;
    }
    .sale_page{
        height: 700px;
    }
    .menu a{
        font-size: 18px;
    }
    .logo img{
        width: 30px;
    }
    .product_img{
        height: 150px;
        width: 147px;
    }
}
@media screen and (max-width:900px){
    .menu{
        display: none;
    }
    .burger{
        display: block;
    }
    .content_line{
        flex-direction: column;
    }
    .product_img{
        width: 400px;
        height: 390px;
    }
    .content_line{
        align-items: center;
    }
}
@media screen and (max-width:800px){
    .burger{
        margin-right: 10%;
    }
    .name_collection{
        margin-right: 0px;
    }
    .sale_page{
        height: 650px;
    }
}
@media screen and (max-width:700px){
    .content_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo_footer{
        margin-top: 25px;
    }
    .links{
        margin-top: 20px;
    }
    .numper{
        margin-top: 20px;
        text-align: center;
        font-size: 22px;
    }
    .number_text{
        font-size: 24px;
    }
    .sale_page{
        height:550px;
    }
    .content{
        margin-top: 5%;
    }
    .product img{
        width: 280px;
        height: 270px;
    }
    .numbertext{
        padding: 10px 14px;
    }
    .header{
        padding-bottom: 10%;
    }
}
@media screen and (max-width:600px){
    .search input{
        width: 100px;
    }
    .sale_page{
        height:500px;
    }
}
@media screen and (max-width:500px){
    .search input{
        width: 80px;
    }
    input::placeholder{
        font-size: 18px;
    }
    .numbertext{
        padding: 5px 7px;
        font-size: 18px;
    }
    .sale_page{
        height: 450px;
    }
}
@media screen and (max-width:400px){
    .sale_page{
        height: 400px;
    }
    .img_personal{
        display: none;
    }
    .personal img{
        margin-right: 12px;
    }
    .numbertext{
        padding: 1px 5px;
        font-size: 18px;
    }
}
@media screen and (max-width:320px){
    .sale_page{
        height: 320px;
    }
    .burger{
        margin-right: 10px;
    }
    .numbertext{
        display: none;
    }
}